/* место для вашего кода */

.header{
    display: flex;
    flex-direction: row;
    margin: 92px 24px 96px;
    width: 1052px;
}

.header__links-list {
    list-style: circle;
    margin: 44px 0px 40px 26px;
    display: flex;
    gap: 32px;
}

.header__links-list-item .header__menu-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #000;
    display: flex;
}

.li__no-dot {
    list-style-type: none;
}

.header__links-list-item-active .header__menu-link {
    text-decoration: none;
}

.li__with-line .header__menu-link {
    border-bottom: 1px solid;
    text-decoration: none;  
}

.header__logo {
    width: 148px;
    height: 105px;
    margin-left: 36px;
    margin-right: 186px;
}

.header__logo-img {
    width: 100%;
    height: 100%;
}

.contacts {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 5px 0 2px 0px;

    font-family: 'Raleway',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
}

.cover__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(/images/cover.jpg);
}

.overlay {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
 
.cover__main-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 165px 50px 0px 50px; 
    gap: 20px;
}

.accent-span {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    color: #fff;
}

.accent-span-sub-spacing {
    letter-spacing: 0.3em;
}

.accent-span-spacing {
    letter-spacing: 0.6em;
}

.text-center {
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.3em;
}

.accent-span-nado {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;

    text-transform: uppercase;

    color: #FFFFFF;
}

.text-right {
    text-align: right;
}

.accient-span-spacing-n {
    letter-spacing: 0.36em;
}
.accent-span-spacing-ad {
    letter-spacing: -0.3em;
}

.cover__subline {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 135px 50px 51px 78px;
}

.cover__subline-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    margin: 12px 0 11px;
    word-spacing: 19px;
}

/* в макете вместо пробела присутствует это */
.cover__subline-text-v {
    word-spacing: 17px;
}

.cover__subline-bet-button {
    font-family:inherit; 
    width: 256px;
    height: 51px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.lots {
    margin: 179px 24px 0px;
    height: auto;
}

.lots__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 0 40px;
}

.lots__cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    height: auto;
    list-style: none;
}

.card-link {
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 563px;
    max-width: 334px;
    margin-top: 27px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__type-film {
    background-image: url(/images/card-lot-01.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    margin: 51px 40px 0;
}

.card__text {
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    margin: 0 40px 48px;
    text-decoration: none;
}

.card__type-book {
    background-image: url(/images/card-lot-02.jpg);
}

.card__type-picture {
    background-image: url(/images/card-lot-03.jpg);
}

.lots__view-more {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin: 30px 0 0 40px;
    text-underline-offset: 4px;    
    width: fit-content;
}

.about {
    display: inline-grid;
    grid-template-columns: 334px auto;
    margin: 148px 23px 0px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    margin: 35px 0 0 47px;
    background-color: #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.about__logo-image {
    width: 149px;
    height: 114px;
}

.about__text-block {
    display: flex;
    flex-direction: column;
    margin: 134px 5px 0 25px;
}

.about__text-block-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.about__text-block-text {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 193px 50px 88px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.footer__links-list { 
    min-width: 149px;
    list-style: none;
    display: flex; 
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    margin: 0 0 33px 218px;
    align-items: center;
}

.footer__links-list-item-active .footer__menu-link {
    text-decoration: none;
}

.li__with-line .footer__menu-link {
    border-bottom: 1px solid;
    text-decoration: none;  
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    margin: 0 0 49px 185px;
    gap: 48px;
    list-style: none;
    align-items: center;
}

.footer__social-list-item {
    display: flex;
    width: 48px;
    height: 48px;
}


